


body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: #E6E6E6;
}

.cabeçalho{
    margin-top: 0px;
    padding-top: 0px;
    background-color: transparent;
}

 #meuNome{
     display: inline-block;
     text-align: center;
     font-size: 1.4em;
     padding: 10px;
     margin-left: 10px;
     width: 50vh;
    
     

 }

 #meuNome h3{
     color: black;
     margin-bottom: 0.1px;
     font-size: 2em;
    ;
     
    
 }

 #meuNome p{
     font-style: oblique;
     font-size:1em;
 }
 #menu{
    display: inline-block;
    
    font-size: 1.5em;
 }

 #menu ul{
     width: 72vW;
     max-height: 10vw;
     text-align: center;    

 }

 #menu ul li{
     display: inline-block;
 }
 #menu ul li a{
     margin: 0px 40px;

}

.home{
    display: inline-block;
    margin-top: 20px;    
    width: 99vw;
    height: 70vh;
}
.home div{   
    display: inline-block;
    zoom: 1;       
    
    position: absolute;    
}

.home img{   
    width: 20vw;
    height: 40vh;
    display: block;   
    display: inline-block;      
    border-radius: 50%;
    margin: 30px 10px 30px 400px;
    border-color: black;
    border-style: 3px solid;  

}
#caixaDeApresentação{
    display: inline-block; 
    
    margin: 30px 20px;
    padding: 5px;
    width: 40vw;
    height: 50vh;
    font-size: 18px
    border-radius: 10px;
    margin-left: 30px;
}
#caixaDeApresentação p{
    font-size: 3em;
    color: rgb(66, 70, 78);
    
    
}

#caixaDeApresentação ul{
    
    
    width: 40vw;
    padding: 0;
    align-items: center;  
    margin-top: 100px;
   
}
#caixaDeApresentação ul li{
    display: inline-block;
    align-items: center;
         
}

#caixaDeApresentação ul li a{
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    padding: 2px;
}

#caixaDeApresentação button{
    color: white;
    background-color: teal;
    border: none;
    border-radius: 50%;
    padding: 0px 1px;
   
    height: 15vh;
}


.rodapé{
    background-color: black;
    color:white;
    height: 15vh;
        
    }
 .rodapé ul{
     display: inline-block;
 }
    
.rodapé li{
   text-decoration: none; 
   display: inline-block;
    
  
   }


.rodapé a{
    margin: 10px 20px
    
}

