@import "style.css";
@media screen and (min-width:421px) and (max-width:800px){
    .containers-coloridos-1{ /*PRIMEIRO CONTAINER COLORIDO*/
        flex-wrap: wrap;
    }
    .item-azul-1 {
        flex-grow: 1;
    }
    .item-amarelo-1 {
        flex-grow: 1;
    }    
    .item-verde-1 {
        flex-grow: 1;
    }
    .containers-coloridos-2{/*SEGUNDO CONTAINER COLORIDO*/
        flex-wrap: wrap;
    }
    .item-azul-2 {
        flex-grow: 1;
    }
    .item-amarelo-2 {
        flex-grow: 1;
    }    
    .item-verde-2 {
        flex-grow: 1;
    }    
    .container-branco{ /*ULTIMO CONTAINER*/
        flex-wrap: wrap;        
    }
    .item-branco-1{
        flex-grow: 1;
    }
    .item-branco-2{
        flex-grow: 1;
    }
    .item-branco-3{
        flex-grow: 1;
        
    }
}
@media screen and (min-width:320px) and (max-width:420px){
    .container-principal{
        height: 100%;
        width: 100%;
             
    }
    .container-vermelho{        
        flex-direction: column;
        flex-wrap: wrap;
        height: 10vh;
                  
    }
   
    .containers-coloridos-1{
        flex-wrap: wrap;       
        flex-direction: column;
        height:30vh; 
           
    }  
    .item-azul-1{
        width: 100%;
        flex-grow: 1;
        
    }
    .item-amarelo-1{
        width: 100%;
        flex-grow: 1;
        
        
    }
    .item-verde-1{
        width: 100%;
        flex-grow: 1;
       
    }

    .containers-coloridos-2{
        flex-wrap: wrap;       
        flex-direction: column;
        height: 30vh;
        
    }
    .item-azul-2{
        width: 100%;
        flex-grow: 1;
    }
    .item-amarelo-2{
        width: 100%;
        flex-grow: 1;
        
    }
    .item-verde-2{
        width: 100%;
        flex-grow: 1;
    }

    .container-preto{
        flex-wrap: wrap;       
        flex-direction: column;
        height: 25vh;
        
    } 

    .item-preto-1{
        width: 100%;   
        flex-grow: 1; 
        
           
    }

    .item-preto-2{
        width: 100%;
        flex-grow: 1;
        
    }
    
    .container-branco{
        flex-wrap: wrap;       
        flex-direction: column;
        height: 30vh;
        
        
    }
    .item-branco-1{
        width: 100%;
        flex-grow: 1;
        
    }
    .item-branco-2{
        width: 100%;
        flex-grow: 1;
        
    }
    .item-branco-3{
        width: 100%;
        flex-grow: 1;
        
    }


   
}